
body {
  display: flex;
  height: 100vh;

  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #e9e4e4;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(60, 10px);
  grid-auto-rows: 10px;
  color: aqua;
  border: 0;
  background-color: rgb(240, 239, 239);
}

.grid-item:hover {
  background-color: black;
}

.header {
  height: 100px;
}
