
body {
  display: flex;
  height: 100vh;

  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #e9e4e4;
  flex-direction: column;
}

.grid-container {
  display: grid;
  color: aqua;
  background-color: rgb(240, 239, 239);
}

.grid-item:hover {
  background-color: black;
}

.header {
  height: 100px;
}

.grid-container.canvas-small {
  grid-template-columns: repeat(120, 5px);
  grid-auto-rows: 5px;
}

.grid-container.canvas-medium {
  grid-template-columns: repeat(60, 10px);
  grid-auto-rows: 10px;
}

.grid-container.canvas-large {
  grid-template-columns: repeat(30, 20px);
  grid-auto-rows: 20px;
}
